img{
    width: 100%;
}
li{
    list-style-type:none;
    display: inline-block;
}
ul{
    width: 1000%;
    padding: 0px;
}
.wrap{
    width: 100%;
    overflow-x: hidden;
}
.slider {
    transition-property: margin-left;
    transition-duration: 1s;
}